{% extends './layout.html' %}

{% block body %}
<form class="px-4 py-3" method="post" autocomplete="off">
    <h1>Get Started</h1>
    <hr />
    <h6>Welcome to the get started initialze process ! Just fill in the information below and get started.</h6>
    <br />
    <h1>Information needed</h1>
    <hr />
    <h6>Please provide the following information.</h6>
    <br />
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
    {% for category, message in messages %} 
    {% if category == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif category == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %} 
    {% endif %} 
    {% endwith %}
    <div class="mb-3">
        <label for="exampleDropdownFormEmail1" class="form-label">Email address:</label>
        <input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1"
            placeholder="email@example.com" required>
    </div>
    <div class="mb-3">
        <label for="exampleDropdownFormPassword1" class="form-label">Password:</label>
        <input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1"
            placeholder="Password" required>
    </div>
    <div class="mb-3">
        <label for="exampleDropdownFormPassword2" class="form-label">Comfirm Password:</label>
        <input type="password" name="password2" class="form-control" id="exampleDropdownFormPassword2"
            placeholder="Comfirm Password" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
{% endblock %}