{% extends './dash_layouts.html' %}
{% block title %}Settings{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif category == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<div class="row gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>
  {% include './setup/settings/change_password.html' %}
  {% include './setup/settings/config.html' %}
  {% include './setup/settings/redeploy.html' %}
</div>
{% endblock %}