{% extends './layout.html' %}

{% block body %}
<br/>
<h1>Borrow Books for {{ member.name }}</h1>
<hr/>
{% if member %}
<h3><u>Member Information</u></h3>
<p>Name: {{ member.name }}</p>
<p>Gender: {{ member.gender }}</p>
<p>Category: {{ member.category }}</p>
<hr/>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif category == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<form method="post" class="px-4 py-3" autocomplete="off">
    <div class="mb-3">
        <label for="books" class="form-label">Books Barcode:</label>
        <input type="text" name="books" class="form-control" id="books" placeholder="Books Barcode." required>
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
<hr/>
{% else %}
<h2>Member Not Found !</h2>
{% endif %}
<h3><u>Borrowed books</u></h3>
{% if books %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Barcode</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Return Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in books %}
      <tr>
        <td>{{ i.book.title }}</td>
        <td>{{ i.book.barcode }}</td>
        <td>{{ i.borrow_date.strftime('%Y-%m-%d') }}</td>
        <td>{{ i.return_date.strftime('%Y-%m-%d') }}</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Return
          </button>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Return {{ i.book.title }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to return <strong class="text-danger">{{ i.book.title }}</strong> ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form method="POST" action="{{ url_for('borrow.return_book', borrowed_book_id=i.id) }}">
                    <button type="submit" class="btn btn-primary">Return</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<h2>No Books Borrow Record Found !</h2>
{% endif %}

{% endblock %}