{% extends './layout.html' %}

{% block body %}
<br/>
<h1><u>Borrow Books</u></h1>
<h6>Please enter the member card ID.</h6>
<hr/>
{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
    {% for category, message in messages %} 
    {% if category == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif category == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %} 
    {% endif %} 
    {% endwith %}
{% if not member %}
<form method="post"  class="px-4 py-3" autocomplete="off">
    <div class="mb-3">
        <label for="ic" class="form-label">Member Number:</label>
        <input type="text" name="brc" class="form-control" id="ic"
            placeholder="Library Card Num. & Member Num." required>
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
{% endif %}
{% endblock %}