{% extends './layout.html' %}

{% block body %}
<div class="px-4 py-3">
  <h1>Member</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif category == 'success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category & Class</th>
        <th scope="col">Card Number</th>
        <th scope="col">Delete Member</th>
      </tr>
    </thead>
    <tbody>
      {% for i in member %}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.category }}</td>
        <td>{{ i.card_number }}</td>
        <td>
          <form method="POST" action="{{ url_for('member.delete_member', member_id=i.id) }}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}