{% extends './dash_layouts.html' %}
{% block title %}Update Member{% endblock %}

{% block body %}
<div class="container-fluid">
    <h4 class="c-grey-900 mT-10 mB-30">Update Members</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h4 class="c-grey-900 mB-20">Update members</h4>
                <form class="" method="post" autocomplete="off">
                    <h6>Please provide the following information.</h6>

                    <br />
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    {% if category == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% elif category == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="John"
                            value="{{ member.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Gender: </label>
                        <select name="gender" class="form-select" aria-label="Default select example">
                            {% for o in gender %}
                            <option value="{{ o.name }}" {% if o.name==member.gender %} selected {% endif %}>{{ o.name
                                }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Class / Category:</label>
                        <input type="text" name="category" class="form-control" id="category"
                            placeholder="Class & Category" value="{{ member.category }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="ic" class="form-label">Member Number:</label>
                        <input type="text" name="ic" class="form-control" id="ic"
                            placeholder="Library Card Num. & Member Num." value="{{ member.card_number }}" required>
                    </div>
                    <br />
                    <a class="btn btn-danger" href="{{ url_for('member.home') }}">Cancel</a>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}